@charset "UTF-8";

::ng-deep {
	.mat-cell {
		vertical-align: middle !important;
	}

	.mat-header-cell {
		vertical-align: middle !important;
	}

	/*.mat-row:hover {
		background-color: #e6e6ff;
	}*/
}
