@charset "UTF-8";

.m-widget29 .m-widget_content .m-widget_content-items .m-widget_content-item>span:last-child {
	font-size: 1.0rem;
	font-weight: 600;
}

.table-bordered > thead > tbody > tr > td {
	border: 1px solid #0f0f11;
}
