<h1 mat-dialog-title>{{'DASHBOARD.DETAILS.SUMMARY_HEADER' | translate}}</h1>
<mat-form-field class="position-relative">
	<input matInput type="text" (keyup)="applyFilter($event.target.value)"
		   placeholder="{{'ACTIONS.SEARCH' | translate}}">
</mat-form-field>
<div mat-dialog-content>
	<div class="mat-elevation-z8">
		<table mat-table class="table table-bordered table-dark table-hover col-md-6"
			   #table matSort matSortActive="name" matSortDirection="asc"
			   multiTemplateDataRows [dataSource]="summaryDataSource">

			<!-- name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ summaryHeaders[0] }}</th>
				<td mat-cell *matCellDef="let row" class="date-width">{{row.name}}</td>
			</ng-container>

			<!-- quantity Column -->
			<ng-container matColumnDef="quantity">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ summaryHeaders[1] }}</th>
				<td mat-cell *matCellDef="let row">{{row.quantity | number}}</td>
			</ng-container>

			<!-- averageWeight Column -->
			<ng-container matColumnDef="averageWeight">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ summaryHeaders[2] }}</th>
				<td mat-cell *matCellDef="let row">{{row.averageWeight | number}}</td>
			</ng-container>

			<!-- foodWeight Column -->
			<ng-container matColumnDef="foodWeight">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ summaryHeaders[3] }}</th>
				<td mat-cell *matCellDef="let row">{{row.foodWeight | number}}</td>
			</ng-container>

			<!-- fcr Column -->
			<ng-container matColumnDef="fcr">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ summaryHeaders[4] }}</th>
				<td mat-cell *matCellDef="let row">{{row.fcr | number}}</td>
			</ng-container>

			<!-- feedDate Column -->
			<ng-container matColumnDef="feedDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ summaryHeaders[5] }}</th>
				<td mat-cell *matCellDef="let row">{{row.feedDate}}</td>
			</ng-container>

			<ng-container matColumnDef="expandedDetail">
				<td mat-cell *matCellDef="let row">
					<table class="table table-bordered table-hover table-success">
						<thead>
							<tr>
								<th *ngFor = "let item of summaryDetailsHeaders">{{item}}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor = "let item of row.feedTypes ">
								<td >{{item.key}}</td>
								<td >{{item.value | number}}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="summaryDisplayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let element; columns: summaryDisplayedColumns;" class="example-element-row"></tr>
			<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
		</table>
	</div>
</div>
<div mat-dialog-actions>
	<button class="btn btn-primary" (click)="onNoClick()">{{ 'ACTIONS.CLOSE' | translate }}</button>
</div>

