<h1 mat-dialog-title>{{'DASHBOARD.DETAILS.SUMMARY_HEADER'| translate}} {{summaryDataSource.data[0].feedDate}}</h1>
<td mat-cell *matCellDef="let row">{{row.feedDate}}</td>
<mat-form-field class="position-relative">
	<input matInput type="text" (keyup)="applyFilter($event.target.value)"
		   placeholder="{{'ACTIONS.SEARCH' | translate}}">
</mat-form-field>
<div mat-dialog-content>
	<div class="mat-elevation-z8">
		<table mat-table class="table table-bordered table-hover table-success"
			   #table matSort matSortActive="name" matSortDirection="asc"
			   multiTemplateDataRows [dataSource]="summaryDataSource">

			<!-- name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="summarySort.active == 'name' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ summaryHeaders[0] }}</th>
				<td mat-cell *matCellDef="let row" class="date-width">{{row.name}}</td>
			</ng-container>

			<!-- age Column -->
			<ng-container matColumnDef="age">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="summarySort.active == 'fcr' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ summaryHeaders[1] }}</th>
				<td mat-cell *matCellDef="let row">{{row.age | number:'1.2-2'}}</td>
			</ng-container>

			<!-- quantity Column -->
			<ng-container matColumnDef="quantity">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="summarySort.active == 'quantity' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ summaryHeaders[2] }}</th>
				<td mat-cell *matCellDef="let row">{{row.quantity | number:'1.2-2'}}</td>
			</ng-container>

			<!-- averageWeight Column -->
			<ng-container matColumnDef="averageWeight">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="summarySort.active == 'averageWeight' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ summaryHeaders[3] }}</th>
				<td mat-cell *matCellDef="let row">{{row.averageWeight | number:'1.2-2'}}</td>
			</ng-container>

			<!-- foodWeight Column -->
			<ng-container matColumnDef="foodWeight">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="summarySort.active == 'foodWeight' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ summaryHeaders[4] }}</th>
				<td mat-cell *matCellDef="let row">{{row.foodWeight | number:'1.2-2'}}</td>
			</ng-container>

			<!-- givenFood Column  -->
			<ng-container matColumnDef="givenFood">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="summarySort.active == 'givenFood' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ summaryHeaders[5] }}</th>
				<td mat-cell *matCellDef="let row">{{row.givenFood | number:'1.2-2'}}</td>
			</ng-container>

			<!-- fcr Column -->
			<ng-container matColumnDef="fcr">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="summarySort.active == 'fcr' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ summaryHeaders[6] }}</th>
				<td mat-cell *matCellDef="let row">{{row.fcr | number:'1.2-2'}}</td>
			</ng-container>

			<!-- dead Column -->
			<ng-container matColumnDef="totalGivenFood">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="summarySort.active == 'fcr' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ summaryHeaders[7] }}</th>
				<td mat-cell *matCellDef="let row">{{row.totalGivenFood | number:'1.2-2'}}</td>
			</ng-container>

			<!-- Expanded Content Column - The detail row is made up of this one column -->
			<ng-container matColumnDef="expandedDetail">
				<td mat-cell *matCellDef="let row" colspan="3">
					<table class="table table-bordered table-hover table-success"
						   [ngStyle]="expandedElement === '' ? {display: 'none'} : {}">
						<thead>
						<tr>
							<th *ngFor = "let item of summaryDetailsHeaders">{{item}}</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor = "let item of row.feedTypes">
							<td >{{item.key}}</td>
							<td >{{item.value | number:'1.2-2'}}</td>
						</tr>
						</tbody>
					</table>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="summaryDisplayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: summaryDisplayedColumns;" class="example-element-row"
				[class.expanded]="expandedElement === row"
				(click)="(expandedElement !== row) ? expandedElement = row : expandedElement = ''"></tr>
			<!--<tr mat-row *matRowDef="let row; columns: ['foodInnerTable']" class="example-element-row"></tr>-->
			<tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
					 [@detailExpand]="row === expandedElement ? 'expanded' : 'collapsed'"  style="overflow: hidden">
		</table>
	</div>
</div>
<div mat-dialog-actions>
	<button class="btn btn-primary" (click)="onNoClick()">{{ 'ACTIONS.CLOSE' | translate }}</button>
</div>

