<div class="row">
	<p>
	  fish-schools works!
	</p>
</div>

<div class="m-section">
	<div class="m-section__content">
		<div class="example-container mat-elevation-z8">
			<table mat-table matSort [dataSource]="dataSource1">

				<!-- Position Column -->
				<ng-container matColumnDef="age">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> age </th>
					<td mat-cell *matCellDef="let element"> {{element.age}} </td>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="averageWeight">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> averageWeight </th>
					<td mat-cell *matCellDef="let element"> {{element.averageWeight}} </td>
				</ng-container>

				<!-- Weight Column -->
				<ng-container matColumnDef="dead">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> dead </th>
					<td mat-cell *matCellDef="let element"> {{element.dead}} </td>
				</ng-container>

				<!-- Symbol Column -->
				<ng-container matColumnDef="fcr">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> fcr </th>
					<td mat-cell *matCellDef="let element"> {{element.fcr}} </td>
				</ng-container>

				<ng-container matColumnDef="feedDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> feedDate </th>
					<td mat-cell *matCellDef="let element"> {{element.feedDate}} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
			</table>
		</div>
	</div>
</div>
