<div class="m-portlet">
	<h3 class="col-sm-12">{{'FISH_SCHOOL.SOLD_ACTIVE_FISH_SCHOOL' | translate}}</h3>
	<form class="m-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
		<div class="example-container">
			<span class="col-sm-1"></span>
			<div class="mat-form-field">
				<!-- https://github.com/ng-select/ng-select -->
				<label class="mat-form-field-label">{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}</label>
				<ng-select matInput class="custom"
						   [items]="fishSchoolNames"
						   bindLabel="name"
						   groupBy="status"
						   placeholder="{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}"
						   notFoundText="{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME_NOT_FOUND' | translate }}"
						   autofocus
						   required="true"
						   [multiple]="false"
						   maxSelectedItems="1"
						   [virtualScroll]="true"
						   #schoolName
						   name="schoolName"
						   (change)="onSchoolSelect($event)">
				</ng-select>
			</div>

		<!-- School status -->
			<mat-button-toggle-group name="status" class="form-group" [(ngModel)]="school.status"
									 #status="ngModel">
				<button class="btn" value="ACTIVE" (click)="school.status = 'ACTIVE'"
						[class.btn-primary]="school.status === '' || school.status === 'ACTIVE'">
					{{'FISH_SCHOOL.FILTERS.STATUS.ACTIVE' | translate}}
				</button>
				<button class="btn" value="SOLD" (click)="school.status = 'SOLD'"
						[class.btn-primary]="school.status === 'SOLD'">
					{{'FISH_SCHOOL.FILTERS.STATUS.SOLD' | translate}}
				</button>
			</mat-button-toggle-group>
			<span class="col-sm-1"></span>
			<button class="btn btn-primary" (click)="toggleFishSchoolStatus()" [disabled]="! enableSubmit" #toggleStatus>
				{{'AUTH.GENERAL.SUBMIT_BUTTON' | translate}}
			</button>
		</div>
	</form>
</div>
