<div class="m-portlet">
	<h3>{{'FISH_SCHOOL.SOLD_ACTIVE_FISH_SCHOOL' | translate}}</h3>
	<form class="m-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
		<div class="example-container my-container">
			<label class="mat-form-field-label">{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}</label>
			<div class="source margin-15">
				<mat-radio-group [value]="source" [(ngModel)]="source" name="source" (change)="selectSource($event)">
					<mat-radio-button value="ACTIVE">{{ 'FARM.ACTIVE' | translate }}</mat-radio-button>
					<mat-radio-button value="SOLD">{{ 'FARM.SOLD' | translate }}</mat-radio-button>
				</mat-radio-group>
			</div>
			<mat-form-field class="school-names-select">
				<mat-label>{{'FISH_SCHOOL.FILTERS.SELECT_SCHOOL_NAME' | translate}}</mat-label>
				<mat-select required (selectionChange)="onSchoolSelect($event)">
					<mat-option *ngFor="let name of fishSchoolNames | source:source" [value]="name">
						{{name.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<button class="btn btn-primary" (click)="toggleFishSchoolStatus()" [disabled]="! enableSubmit" #toggleStatus>
				{{ submitText }}
			</button>
		</div>
	</form>
</div>
