<m-portlet [options]="{class: ['m--bg-warning', 'm-portlet--bordered-semi']}">
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text m--font-light">{{'DASHBOARD.FARM_SUMMARY' | translate}}</h3>
		</div>
		<div class="col-md-1">
			<mat-form-field>
				<mat-label>{{'DASHBOARD.SUMMARY_DATE' | translate}}</mat-label>
				<input matInput [matDatepicker]="picker" name="startDate" [(ngModel)]="summaryDate"
					   #startDate="ngModel" minlength="10" required [max]="maxDate" (dateChange)="view()">
				<mat-datepicker-toggle matSuffix [for]="picker">
					<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
				</mat-datepicker-toggle>
				<mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
			</mat-form-field>
		</div>
	</ng-container>

	<!-- use ng-container[mPortletBody] for the body content -->
	<ng-container mPortletBody>
		<!--begin::Widget 29-->
		<div class="m-widget29" (click)="viewDetails()">
			<div class="m-widget_content">
				<h3 class="m-widget_content-title">{{'DASHBOARD.SUMMARY' | translate}}</h3>
				<div class="m-widget_content-items">
					<div class="m-widget_content-item">
						<span>{{'DASHBOARD.AVG_WEIGHT' | translate}}</span>
						<span class="m--font-accent">{{ schoolsSum.totalAverageWeight | number }}</span>
					</div>
					<div class="m-widget_content-item">
						<span>{{'DASHBOARD.NUM_OF_FISH' | translate}}</span>
						<span class="m--font-brand">{{ schoolsSum.totalNumberOfFish | number }}</span>
					</div>
					<div class="m-widget_content-item">
						<span>{{'DASHBOARD.FOOD_WEIGHT' | translate}}</span>
						<span>{{ schoolsSum.totalFoodWeight | number }}</span>
					</div>
					<div class="m-widget_content-item">
						<span>{{'GENERAL.F_C_R' | translate}}</span>
						<span class="m--font-accent">{{ schoolsSum.totalFCR | number }}</span>
					</div>
					<div class="m-widget_content-item">
						<span>{{'DASHBOARD.PLAN_FOOD' | translate}}</span>
						<span class="m--font-brand">{{ schoolsSum.totalPlanFood | number }}</span>
					</div>
				</div>
			</div>
			<div class="m-widget_content" *ngFor="let sum of schoolsSum.schoolSummaries">
				<h3 class="m-widget_content-title">Name: {{ sum.name }}</h3>
				<div class="m-widget_content-items">
					<div class="m-widget_content-item">
						<span>{{'DASHBOARD.QUANTITY' | translate}}</span>
						<span class="m--font-accent">{{ sum.quantity | number }}</span>
					</div>
					<div class="m-widget_content-item">
						<span>{{'DASHBOARD.AVG_WEIGHT' | translate}}</span>
						<span class="m--font-brand">{{ sum.averageWeight | number }}</span>
					</div>
					<div class="m-widget_content-item">
						<span>{{'DASHBOARD.FOOD_WEIGHT' | translate}}</span>
						<span>{{ sum.foodWeight | number }}</span>
					</div>
					<div class="m-widget_content-item">
						<span>{{'GENERAL.F_C_R' | translate}}</span>
						<span class="m--font-accent">{{ sum.fcr | number }}</span>
					</div>
					<div class="m-widget_content-item">
						<span>{{'DASHBOARD.FEED_DATE' | translate}}</span>
						<span class="m--font-brand">{{sum.feedDate}}</span>
					</div>
					<!--<div class="m-widget_content-item">
						<span>{{'DASHBOARD.FOOD_TYPE' | translate}}</span>
						<span>{{sum.foodTypeName}}</span>
					</div>-->
				</div>
			</div>
		</div>
		<!--end::Widget 29-->
	</ng-container>
</m-portlet>
