@charset "UTF-8";

.element_bold {
	font-weight: bold;
}

.element_normal {
	font-weight: normal;
}

.m-widget29 .m-widget_content .m-widget_content-items .m-widget_content-item>span:last-child {
	font-size: 1.0rem;
	font-weight: 600;
}
