<div class="m-section">
	<mat-card *ngIf="isDeliveryNotesTableLoading" style="display: flex; justify-content: center; align-items: center">
		<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
	</mat-card>
	<div class="example-container mat-elevation-z8" [hidden]="isDeliveryNotesTableLoading || ! havingDeliveryNotesRecords">
		<mat-form-field>
			<input matInput type="text" (keyup)="applyFilter($event.target.value)"
				   placeholder="{{'ACTIONS.SEARCH' | translate}}">
		</mat-form-field>
		<table class="table table-bordered table-striped table-hover table-light table-responsive" mat-table matSort multiTemplateDataRows
			   matSortActive="name" matSortDirection="asc" #table matSortDisableClear [dataSource]="dataSource">

			<!-- actions column -->
			<ng-container matColumnDef="actionsColumn">
				<mat-header-cell *matHeaderCellDef>
					<button mat-icon-button color="accent" (click)="createNew()"><i class="fs flaticon-add mat-icon"></i></button>
				</mat-header-cell>
				<mat-cell *matCellDef="let row">

					<button mat-icon-button color="primary" focusable="false" (click)="delete(row)">
						<i class="fa flaticon-delete mat-icon mat-icon"></i>
					</button>
				</mat-cell>
			</ng-container>

			<!-- receipt Column -->
			<ng-container matColumnDef="receipt">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'receipt' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[0] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFoodDeliveryNotesReadWrite('UPDATE', 'receipt'); else display">
						<input matInput type="text" [value]="row.receipt" [(ngModel)]="row.receipt" required>
					</mat-form-field>
					<ng-template #display>{{row.receipt}}</ng-template>
				</td>
			</ng-container>

			<!-- foodDate Column -->
			<ng-container matColumnDef="foodDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'foodDate' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[1] }}</th>
				<td mat-cell *matCellDef="let row"
					[style.background]="(model.startDate.format('DD/MM/YYYY') === row.foodDate)? 'lightblue' : ''"
					class="date-width">
					{{row.foodDate}}
				</td>
			</ng-container>

			<!-- food Column -->
			<ng-container *ngFor="let food of displayedColumns.slice(3); trackBy: trackByIdentity" matColumnDef="{{food}}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == food ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ getFood() }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFoodDeliveryNotesReadWrite('UPDATE', food); else display">
						<input matInput type="number" [value]="row[food]" [(ngModel)]="row[food]" required
							   step=".01" min="0" class="input-number-format">
						<label class="label-number-format">{{row[food] | number}}</label>
					</mat-form-field>
					<ng-template #display>{{row[food] | number}}</ng-template>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"></tr>
		</table>
		{{resetIndex()}}
		<span>
			<button class="btn btn-primary" (click)="update()" [disabled]="! validate() || isDeliveryNotesTableLoading">{{ 'ACTIONS.UPDATE' | translate }}</button>
		</span>
	</div>
</div>

