@charset "UTF-8";

.mat-row:hover {
	background-color: #e6e6ff;
}

.bold {
	font-weight: bold;
}

tr, td {
	border: 1px solid #000000;
	border-top: 1px solid #000000;
}

::ng-deep {
	.table.table-striped thead th {
		border: 1px solid #000000;
		border-top: 1px solid #000000;
	}

	// Remove number arrows
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.mat-form-field-underline {
		display: none;
	}

	input.editable {
		box-sizing: border-box;
		border: 0 solid #ccc;
		background-image: url(../../../../../../../assets/app/media/img/logos/gold-fish-logo.png);
		background-position: right 10px;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

td.mat-cell {
	border: 1px solid #000000;
	border-top: 1px solid #000000;
	vertical-align: inherit;
}

td.mat-cell:first-child {
	border-left: 1px solid #000000;
}

td.mat-cell:last-child {
	border-right: 1px solid #000000;
}

table {
	border-spacing: 0 4px !important;
}

.mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type, .mat-cell, .mat-footer-cell, .mat-header-cell {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.cdk-column-actionType {
	width: 130px;
}

.mat-form-field-infix {
	width: max-content !important;
}

/* Cells display shorten */
.mat-form-field {
	width: 100px;
}

