<div class="m-section">
	<h3>{{'FISH_SCHOOL.NEW_FISH_SCHOOL' | translate}}</h3>
	<form class="m-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
		<div class="example-container">
			<span class="col-sm-1"></span>

			<!-- name -->
			<mat-form-field class="col-md-2">
				<mat-label>{{'FISH_SCHOOL.NAME' | translate}}</mat-label>
				<input matInput type="text" #fsName name="fsName" placeholder="{{ 'FISH_SCHOOL.NAME' | translate }}" autocomplete="off"
					   [(ngModel)]="school.name" minlength="1" required>
				<div *ngIf="fsName.invalid && (fsName.dirty || fsName.touched)" class="text-danger">
					<div *ngIf="fsName.errors.required">
						{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name: 'FISH_SCHOOL.NAME' | translate } }}
					</div>
					<div *ngIf="fsName.errors.minlength">
						{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name: 'FISH_SCHOOL.NAME' | translate, min: 1 } }}
					</div>
				</div>
			</mat-form-field>

			<!-- specie -->
			<mat-form-field class="col-md-2">
				<mat-label>{{'FISH_SCHOOL.SPECIE' | translate}}</mat-label>
				<input matInput type="text" #specie name="specie" placeholder="{{ 'FISH_SCHOOL.SPECIE' | translate }}" autocomplete="off"
					   [(ngModel)]="school.specie" minlength="1" required>
				<div *ngIf="specie.invalid && (specie.dirty || specie.touched)" class="text-danger">
					<div *ngIf="specie.errors.required">
						{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name: 'FISH_SCHOOL.SPECIE' | translate } }}
					</div>
					<div *ngIf="specie.errors.minlength">
						{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name: 'FISH_SCHOOL.SPECIE' | translate, min: 1 } }}
					</div>
				</div>
			</mat-form-field>

			<!-- quantity -->
			<mat-form-field class="col-md-2">
				<mat-label>{{'FISH_SCHOOL.QUANTITY' | translate}}</mat-label>
				<input matInput type="number" #quantity name="school.quantity" placeholder="{{ 'FISH_SCHOOL.QUANTITY' | translate }}" autocomplete="off"
					   [(ngModel)]="school.quantity" minlength="1" required min="0" step="1" class="input-number-format">
				<div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-danger">
					<div *ngIf="quantity.errors.required">
						{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name:
						'FISH_SCHOOL.QUANTITY' | translate } }}
					</div>
					<div *ngIf="quantity.errors.minlength">
						{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name:
						'FISH_SCHOOL.QUANTITY' | translate, min: 1 } }}
					</div>
				</div>
			</mat-form-field>

			<!-- updatedCreationDate -->
			<mat-form-field class="col-md-2">
				<mat-label>{{'FISH_SCHOOL.CREATION_DATE' | translate}}</mat-label>
				<input matInput [matDatepicker]="picker" name="startDate" [(ngModel)]="school.updatedCreationDate"
					   #startDate minlength="10" required [max]="maxDate">
				<div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)"
					 class="text-danger">
					<div *ngIf="startDate.errors.required">
						{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name:
						'FISH_SCHOOL.CREATION_DATE' | translate } }}
					</div>
					<div *ngIf="startDate.errors.minlength">
						{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name:
						'FISH_SCHOOL.CREATION_DATE' | translate, min: 10 } }}
					</div>
				</div>
				<mat-datepicker-toggle matSuffix [for]="picker">
					<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
				</mat-datepicker-toggle>
				<mat-datepicker #picker [startAt]="school.updatedCreationDate"></mat-datepicker>
			</mat-form-field>
			<span class="col-sm-1"></span>

			<!-- percentageTsemach -->
			<mat-form-field class="col-md-2">
				<mat-label>{{'FISH_SCHOOL.PERCENTAGE_TSEMACH' | translate}}</mat-label>
				<input matInput type="number" #percentageTsemach name="school.percentageTsemach"
					   placeholder="{{ 'FISH_SCHOOL.PERCENTAGE_TSEMACH' | translate }}" autocomplete="off"
					   [(ngModel)]="school.percentageTsemach" minlength="1" required step=".01"
					   min="0" class="input-number-format">
				<div *ngIf="percentageTsemach.invalid && (percentageTsemach.dirty || percentageTsemach.touched)" class="text-danger">
					<div *ngIf="percentageTsemach.errors.required">
						{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name: 'FISH_SCHOOL.PERCENTAGE_TSEMACH' | translate } }}
					</div>
					<div *ngIf="percentageTsemach.errors.minlength">
						{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name: 'FISH_SCHOOL.PERCENTAGE_TSEMACH' | translate, min: 1 } }}
					</div>
				</div>
			</mat-form-field>

			<!-- food -->
			<div style="width: 260px" class="mat-form-field">
				<!-- https://github.com/ng-select/ng-select -->
				<label class="mat-form-field-label">{{'FISH_SCHOOL.FOOD_NAME' | translate}}</label>
				<ng-select matInput class="custom"
						   [items]="foods"
						   bindLabel="name"
						   notFoundText="{{'FOOD.FILTERS.FOOD_NAME_NOT_FOUND' | translate}}"
						   [required]="true"
						   #food="ngModel"
						   name="food"
						   [multiple]="false"
						   maxSelectedItems="1"
						   [virtualScroll]="true"
						   [(ngModel)]="school.food">
				</ng-select>
			</div>

			<span class="col-sm-1"></span>
			<button class="btn btn-primary" (click)="createNewFishSchool()" [disabled]="! f.form.valid">
				{{'AUTH.GENERAL.SUBMIT_BUTTON' | translate}}
			</button>
		</div>
	</form>
</div>
