@charset "UTF-8";

.max_width {
	width: 100%;
}

.btn.btn-primary {
	color: #fff;
}

.margin-15 {
	margin: 0 15px;
}

.custom-btn {
	margin-bottom: 20px;
}

.my-container {
	display: flex;
	flex-direction: column;

	.row-container {
		display: flex;
		align-items: flex-end;
	}
}

.source {
	margin-bottom: 10px;
}

.vertical-align-middle {
	text-align: center;
	vertical-align: middle;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
	padding-left: 3px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell {
	padding-left: 3px;
}

.table.table-striped thead th {
	/* row padding */
	padding: 4px 0 4px 0;
	/* row border */
	border: 1px solid #000000;
	border-top: 1px solid #000000;
}

td.mat-cell {
	/* row padding */
	padding: 4px 0 4px 0;
	/* row border */
	border: 1px solid #000000;
	border-top: 1px solid #000000;
}

td.mat-cell:first-child {
	/* row border */
	border-left: 1px solid #000000;
}

td.mat-cell:last-child {
	/* row border */
	border-right: 1px solid #000000;
}

table {
	/* row spacing / margin */
	border-spacing: 0 4px !important;
}

hr.new5 {
	border: 1px solid cornflowerblue;
	border-radius: 3px;
}
