@charset "UTF-8";

table {
	width: 100%;
}

th.mat-sort-header-sorted {
	color: black;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.btn.btn-primary {
	color: #fff;
}

.vertical-align-middle {
	text-align: center;
	vertical-align: middle;
}

// Remove input number arrows, example taken from: https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
