<div *ngIf="alerts !== undefined && alerts.length > 0; else noAlerts">
	<div *ngFor="let alert of alerts">
		<ngb-alert [dismissible]="true" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}
		</ngb-alert>
	</div>
</div>
<div class="m-section">
	<mat-accordion class="example-headers-align">
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
							 [expanded]="panelOpenState === true">
			<mat-expansion-panel-header>
				<mat-panel-title>{{'FISH_SCHOOL.FILTERS.PANEL.HEADER' | translate}}</mat-panel-title>
				<mat-panel-description>{{'FISH_SCHOOL.FILTERS.PANEL.DESCRIPTION' | translate}}</mat-panel-description>
			</mat-expansion-panel-header>
			<form class="m-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
				<div class="example-container">
					<!-- School name -->
					<mat-form-field>
						<mat-select name="schoolName" #schoolName="ngModel" [(ngModel)]="model.schoolName"
									placeholder="{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}" required>
							<option [value]="null" disabled selected>{{'FISH_SCHOOL.FILTERS.CHOOSE_SCHOOL_NAME' |
								translate}}
							</option>
							<mat-option *ngFor="let name of fishSchoolNames" [value]="name">{{name}}</mat-option>
						</mat-select>
						<div *ngIf="schoolName.invalid" class="text-danger">
							<div *ngIf="schoolName.errors.required">
								{{ 'FISH_SCHOOL.VALIDATION.REQUIRED_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate } }}
							</div>
						</div>
					</mat-form-field>

					<!-- School status -->
					<!--<div class="mat-form-field-wrapper">
						<mat-button-toggle-group name="status" class="form-group" [(ngModel)]="model.status"
												 #status="ngModel">
							<button class="btn" value="ACTIVE" (click)="model.status = 'ACTIVE'"
									[class.btn-primary]="model.status === '' || model.status === 'ACTIVE'">
								{{'FISH_SCHOOL.FILTERS.STATUS.ACTIVE' | translate}}
							</button>
							<button class="btn" value="INACTIVE" (click)="model.status = 'INACTIVE'"
									[class.btn-primary]="model.status === 'INACTIVE'">
								{{'FISH_SCHOOL.FILTERS.STATUS.INACTIVE' | translate}}
							</button>
							<button class="btn" value="SOLD" (click)="model.status = 'SOLD'"
									[class.btn-primary]="model.status === 'SOLD'">
								{{'FISH_SCHOOL.FILTERS.STATUS.SOLD' | translate}}
							</button>
						</mat-button-toggle-group>
					</div>-->

					<!-- Start date -->
					<mat-form-field>
						<mat-label>{{'FISH_SCHOOL.FILTERS.START_DATE' | translate}}</mat-label>
						<input matInput [matDatepicker]="picker" name="startDate" [(ngModel)]="model.startDate"
							   #startDate="ngModel" minlength="10" required [max]="maxDate">
						<div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)"
							 class="text-danger">
							<div *ngIf="startDate.errors.required">
								{{ 'FISH_SCHOOL.VALIDATION.REQUIRED_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.START_DATE' | translate } }}
							</div>
							<div *ngIf="startDate.errors.minlength">
								{{ 'FISH_SCHOOL.VALIDATION.MIN_LENGTH_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.START_DATE' | translate, min: 10 } }}
							</div>
						</div>
						<mat-datepicker-toggle matSuffix [for]="picker">
							<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
						</mat-datepicker-toggle>
						<mat-datepicker #picker [startAt]="model.startDate"></mat-datepicker>
					</mat-form-field>

					<!-- # of days -->
					<mat-form-field>
						<mat-label>{{'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate}}</mat-label>
						<input matInput type="text" name="days" placeholder="# of days" autocomplete="off"
							   [(ngModel)]="model.days" #days="ngModel" minlength="1" required>
						<div *ngIf="days.invalid && (days.dirty || days.touched)" class="text-danger">
							<div *ngIf="days.errors.required">
								{{ 'FISH_SCHOOL.VALIDATION.REQUIRED_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate } }}
							</div>
							<div *ngIf="days.errors.minlength">
								{{ 'FISH_SCHOOL.VALIDATION.MIN_LENGTH_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate, min: 1 } }}
							</div>
						</div>
					</mat-form-field>

					<button class="btn btn-primary" (click)="view()" [disabled]="! f.form.valid">
						{{'AUTH.GENERAL.SUBMIT_BUTTON' | translate}}
					</button>
				</div>
			</form>
		</mat-expansion-panel>
	</mat-accordion>
</div>
<div class="m-section">
	<div [hidden]="model.schoolName === ''">
		<h4>{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}: {{ model.schoolName }}</h4>
	</div>
	<div class="example-container mat-elevation-z8">
		<!--<form class="m-form" name="form2" (ngSubmit)="tf.form.valid" [formGroup]="recordsFormGroup" novalidate>-->
			<mat-form-field>
				<input matInput type="number" (keyup)="applyFilter($event.target.value)"
					   placeholder="{{'FISH_SCHOOL.FILTERS.SEARCH' | translate}}">
			</mat-form-field>
			<table class="table-striped" mat-table matSort matSortActive="menualAvgWeight" matSortDirection="desc"
				   #table matSortDisableClear [dataSource]="dataSource" class="col-md-12">

				<!-- feedDate Column -->
				<ng-container matColumnDef="feedDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[0] }}</th>
					<td mat-cell *matCellDef="let row"
						[style.background]="(model.startDate.format('DD/MM/YYYY') === row.feedDate)? 'lightblue' : ''"
						class="date-width">
						{{row.feedDate}}
					</td>
				</ng-container>

				<!-- age Column -->
				<ng-container matColumnDef="age">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[1] }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-form-field floatLabel="never" *ngIf="isReadWite('age'); else display">
							<input matInput type="number" [value]="row.age" [(ngModel)]="row.age" required step=".01" min="0">
						</mat-form-field>
						<ng-template #display>{{row.age}}</ng-template>
					</td>
				</ng-container>

				<!-- menualAvgWeight Column -->
				<ng-container matColumnDef="menualAvgWeight">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[2] }}</th>
					<td mat-cell *matCellDef="let row"
						[style.background]="row.menualAvgWeight === true? 'lightgreen': ''"
						class="vertical-align-middle">
						<i class="material-icons" *ngIf="row.menualAvgWeight === true">
							done
						</i>
					</td>
				</ng-container>

				<!-- averageWeight Column -->
				<ng-container matColumnDef="averageWeight">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[3] }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-form-field floatLabel="never" *ngIf="isReadWite('averageWeight'); else display">
							<input matInput type="number" [value]="row.averageWeight" [(ngModel)]="row.averageWeight" required step=".01" min="0">
						</mat-form-field>
						<ng-template #display>{{row.averageWeight}}</ng-template>
					</td>
				</ng-container>

				<!-- quantity Column -->
				<ng-container matColumnDef="quantity">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[4] }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-form-field floatLabel="never" *ngIf="isReadWite('quantity'); else display">
							<input matInput type="number" [value]="row.quantity" [(ngModel)]="row.quantity" required step=".01" min="0">
						</mat-form-field>
						<ng-template #display>{{row.quantity}}</ng-template>
					</td>
				</ng-container>

				<!-- totalWeight Column -->
				<ng-container matColumnDef="totalWeight">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[5] }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-form-field floatLabel="never" *ngIf="isReadWite('totalWeight'); else display">
							<input matInput type="number" [value]="row.totalWeight" [(ngModel)]="row.totalWeight" required step=".01" min="0">
						</mat-form-field>
						<ng-template #display>{{row.totalWeight}}</ng-template>
					</td>
				</ng-container>

				<!-- totalGivenFood Column -->
				<ng-container matColumnDef="totalGivenFood">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[6] }}</th>
					<td mat-cell *matCellDef="let row"> {{row.totalGivenFood}}</td>
				</ng-container>

				<!-- actualGivenFood Column -->
				<ng-container matColumnDef="actualGivenFood">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[7] }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-form-field floatLabel="never" *ngIf="isReadWite('actualGivenFood'); else display">
							<input matInput type="number" [value]="row.actualGivenFood" [(ngModel)]="row.actualGivenFood" required step=".01" min="0">
						</mat-form-field>
						<ng-template #display>{{row.actualGivenFood}}</ng-template>
					</td>
				</ng-container>

				<!-- foodWeight Column -->
				<ng-container matColumnDef="foodWeight">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[8] }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-form-field floatLabel="never" *ngIf="isReadWite('foodWeight'); else display">
							<input matInput type="number" [value]="row.foodWeight" [(ngModel)]="row.foodWeight" required step=".01" min="0">
						</mat-form-field>
						<ng-template #display>{{row.foodWeight}}</ng-template>
					</td>
				</ng-container>

				<!-- foodTypeName Column -->
				<ng-container matColumnDef="foodTypeName">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[9] }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-form-field floatLabel="never" *ngIf="isReadWite('foodTypeName'); else display">

							<!-- TODO: Use pull down menu -->

							<input matInput type="number" [value]="row.foodTypeName" [(ngModel)]="row.foodTypeName" required step=".01" min="0"
								   (keypress)="($event.charCode == 8 || $event.charCode == 0 || $event.charCode == 13) ? null : $event.charCode >= 48 && $event.charCode <= 57">
						</mat-form-field>
						<ng-template #display>{{row.foodTypeName}}</ng-template>
					</td>
				</ng-container>

				<!-- dead Column -->
				<ng-container matColumnDef="dead">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[10] }}</th>
					<td mat-cell *matCellDef="let row">
						<mat-form-field floatLabel="never" *ngIf="isReadWite('dead'); else display">
							<input matInput type="number" [value]="row.dead" [(ngModel)]="row.dead" required step=".01" min="0">
						</mat-form-field>
						<ng-template #display>{{row.dead}}</ng-template>
					</td>
				</ng-container>

				<!-- averageWeight Column -->
				<ng-container matColumnDef="fcr">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[11] }}</th>
					<td mat-cell *matCellDef="let row"> {{row.fcr}}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<span>
				<button class="btn btn-primary" (click)="update()">{{ 'ACTIONS.SAVE' | translate }}</button>
				<!--<p>Valid? {{tf.form.valid}}</p>
				<button class="btn btn-primary" (click)="update()" [disabled]="! tf.form.valid">{{ 'ACTIONS.SAVE' | translate }}</button>-->
			</span>
			<!--{{incRowIndex()}}-->
		<!--</form>-->
	</div>
</div>
