<div class="m-section">
	<mat-accordion class="example-headers-align">
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
							 [expanded]="panelOpenState === true">
			<mat-expansion-panel-header>
				<mat-panel-title>{{'FISH_SCHOOL.FILTERS.PANEL.HEADER' | translate}}</mat-panel-title>
			</mat-expansion-panel-header>
			<form class="m-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
				<div class="example-container">
					<!-- School name -->
					<!--<mat-form-field>-->
						<!--<mat-select name="schoolName" #schoolName="ngModel" [(ngModel)]="model.schoolName"-->
									<!--placeholder="{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}" required>-->
							<!--<option [value]="null" disabled selected>{{'FISH_SCHOOL.FILTERS.CHOOSE_SCHOOL_NAME' |-->
								<!--translate}}-->
							<!--</option>-->
							<!--<mat-option *ngFor="let name of fishSchoolNames" [value]="name">{{name}}</mat-option>-->
						<!--</mat-select>-->
						<!--<div *ngIf="schoolName.invalid" class="text-danger">-->
							<!--<div *ngIf="schoolName.errors.required">-->
								<!--{{ 'FISH_SCHOOL.VALIDATION.REQUIRED_FIELD' | translate: { name:-->
								<!--'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate } }}-->
							<!--</div>-->
						<!--</div>-->
					<!--</mat-form-field>-->

					<!--<mat-form-field>
						&lt;!&ndash; Source: https://github.com/bithost-gmbh/ngx-mat-select-search &ndash;&gt;
						<mat-select [formControl]="selectCtrl" required #schoolNameSelect placeholder="{{'FISH_SCHOOL.FILTERS.CHOOSE_SCHOOL_NAME' | translate}}"
									name="schoolNameSelect" [(ngModel)]="model.schoolName">

							<ngx-mat-select-search [formControl]="schoolNameFilterCtrl" [placeholderLabel]="getSelectSchoolNameLabel()"
							[noEntriesFoundLabel]="getSelectSchoolNameNotFoundLabel()"></ngx-mat-select-search>

							<mat-option *ngFor="let name of filteredSchoolNames | async" [value]="name">
								{{name}}
							</mat-option>
						</mat-select>
					</mat-form-field>-->
					<span class="col-sm-1"></span>

					<div style="width: 300px;" class="mat-form-field">
						<!-- https://github.com/ng-select/ng-select -->
						<label class="mat-form-field-label">{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}</label>
						<ng-select matInput class="custom"
								   [items]="fishSchoolNames"
								   placeholder="{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}"
								   notFoundText="{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME_NOT_FOUND' | translate }}"
								   autofocus
								   required="true"
								   [multiple]="false"
								   maxSelectedItems="1"
								   [virtualScroll]="true"
								   #schoolName="ngModel"
								   name="schoolName"
								   [(ngModel)]="model.schoolName">
						</ng-select>
					</div>

					<!-- Start date -->
					<mat-form-field class="col-md-2">
						<mat-label>{{'FISH_SCHOOL.FILTERS.FOOD_DATE' | translate}}</mat-label>
						<input matInput [matDatepicker]="picker" name="startDate" [(ngModel)]="model.feedDate"
							   #startDate minlength="10" required [max]="maxDate">
						<div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)"
							 class="text-danger">
							<div *ngIf="startDate.errors.required">
								{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.FOOD_DATE' | translate } }}
							</div>
							<div *ngIf="startDate.errors.minlength">
								{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.FOOD_DATE' | translate, min: 10 } }}
							</div>
						</div>
						<mat-datepicker-toggle matSuffix [for]="picker">
							<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
						</mat-datepicker-toggle>
						<mat-datepicker #picker [startAt]="model.feedDate"></mat-datepicker>
					</mat-form-field>
					<span class="col-sm-1"></span>

					<!-- # of days -->
					<mat-form-field class="col-md-2">
						<mat-label>{{'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate}}</mat-label>
						<input matInput type="text" #days name="days" placeholder="{{ 'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate }}" autocomplete="off"
							   [(ngModel)]="model.days" #days="ngModel" minlength="1" required>
						<div *ngIf="days.invalid && (days.dirty || days.touched)" class="text-danger">
							<div *ngIf="days.errors.required">
								{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate } }}
							</div>
							<div *ngIf="days.errors.minlength">
								{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate, min: 1 } }}
							</div>
						</div>
					</mat-form-field>

					<span class="col-sm-1"></span>
					<button class="btn btn-primary" (click)="loadTableData()" [disabled]="isFishSchoolLoadingStarted || ! f.form.valid || model.schoolName === undefined">
						{{'AUTH.GENERAL.SUBMIT_BUTTON' | translate}}
					</button>
				</div>
			</form>
		</mat-expansion-panel>
	</mat-accordion>
</div>
<m-fs-table (dataReady)="onDataReady($event)" [model]="model" *ngIf="startLoadFishSchools"></m-fs-table>
