<div class="m-section">
	<mat-accordion class="example-headers-align">
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
							 [expanded]="panelOpenState === true">
			<mat-expansion-panel-header>
				<mat-panel-title>{{'FISH_SCHOOL.FILTERS.PANEL.HEADER' | translate}}</mat-panel-title>
				<mat-panel-description>{{'FISH_SCHOOL.FILTERS.PANEL.DESCRIPTION' | translate}}</mat-panel-description>
			</mat-expansion-panel-header>
			<form class="m-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
				<div class="example-container">
					<!-- School name -->
					<mat-form-field>
						<mat-select name="schoolName" #schoolName="ngModel" [(ngModel)]="model.schoolName"
									placeholder="{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}" required>
							<option [value]="null" disabled selected>{{'FISH_SCHOOL.FILTERS.CHOOSE_SCHOOL_NAME' |
								translate}}
							</option>
							<mat-option *ngFor="let name of fishSchoolNames" [value]="name">{{name}}</mat-option>
						</mat-select>
						<div *ngIf="schoolName.invalid" class="text-danger">
							<div *ngIf="schoolName.errors.required">
								{{ 'FISH_SCHOOL.VALIDATION.REQUIRED_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate } }}
							</div>
						</div>
					</mat-form-field>

					<!-- Start date -->
					<mat-form-field>
						<mat-label>{{'FISH_SCHOOL.FILTERS.START_DATE' | translate}}</mat-label>
						<input matInput [matDatepicker]="picker" name="startDate" [(ngModel)]="model.feedDate"
							   #startDate="ngModel" minlength="10" required [max]="maxDate">
						<div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)"
							 class="text-danger">
							<div *ngIf="startDate.errors.required">
								{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.START_DATE' | translate } }}
							</div>
							<div *ngIf="startDate.errors.minlength">
								{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.START_DATE' | translate, min: 10 } }}
							</div>
						</div>
						<mat-datepicker-toggle matSuffix [for]="picker">
							<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
						</mat-datepicker-toggle>
						<mat-datepicker #picker [startAt]="model.feedDate"></mat-datepicker>
					</mat-form-field>

					<!-- # of days -->
					<mat-form-field>
						<mat-label>{{'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate}}</mat-label>
						<input matInput type="text" name="days" placeholder="{{ 'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate }}" autocomplete="off"
							   [(ngModel)]="model.days" #days="ngModel" minlength="1" required>
						<div *ngIf="days.invalid && (days.dirty || days.touched)" class="text-danger">
							<div *ngIf="days.errors.required">
								{{ 'FISH_SCHOOL.VALIDATION.REQUIRED_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate } }}
							</div>
							<div *ngIf="days.errors.minlength">
								{{ 'FISH_SCHOOL.VALIDATION.MIN_LENGTH_FIELD' | translate: { name:
								'FISH_SCHOOL.FILTERS.NUM_OF_DAYS' | translate, min: 1 } }}
							</div>
						</div>
					</mat-form-field>

					<button class="btn btn-primary" (click)="loadTableData()" [disabled]="! f.form.valid">
						{{'AUTH.GENERAL.SUBMIT_BUTTON' | translate}}
					</button>
				</div>
			</form>
		</mat-expansion-panel>
	</mat-accordion>
</div>
<m-fs-table (dataReady)="dataReady = $event" [model]="model" *ngIf="loadingStarted || dataReady"></m-fs-table>
