@charset "UTF-8";

table {
	width: 100%;
}

th.mat-sort-header-sorted {
	color: black;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.btn.btn-primary {
	color: #fff;
}

.vertical-align-middle {
	text-align: center;
	vertical-align: middle;
}

// Remove input number arrows, example taken from: https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

label.label-number-format {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: .4375em 0;
	background: white;
	border: none;
}

input.input-number-format {
	position: relative;
}

// Display on/off label to show formatted number
input.input-number-format:focus + label.label-number-format {
	display: none;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
	padding-left: 3px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell {
	padding-left: 3px;
}
