@charset "UTF-8";

table {
	width: 100%;
}

th.mat-sort-header-sorted {
	color: black;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.btn.btn-primary {
	color: #fff;
}

.vertical-align-middle {
	text-align: center;
	vertical-align: middle;
}
