<div *ngIf="alerts !== undefined && alerts.length > 0;">
	<div *ngFor="let alert of alerts">
		<ngb-alert [dismissible]="true" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
	</div>
</div>
<div class="m-section">
	<div class="header">
		<h4>Daily Farm Update</h4>
	</div>
	<form class="m-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
		<div class="example-container">
			<table class="table table-bordered table-striped table-hover table-light table-responsive">
				<thead>
					<tr>
						<th>{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}</th>
						<th>{{'FOOD.TABLE.DAILY_FEED' | translate}}</th>
						<th>{{'FOOD.TABLE.FOOD_TYPE' | translate}}</th>
						<th>{{'FOOD.TABLE.MORTALITY' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor = "let school of dailySchools; let i = index">
						<td>{{school.name}}</td>
						<td>
							<input matInput type="number" name="actualGivenFood{{i}}" autocomplete="off"
								   [(ngModel)]="school.actualGivenFood" #actualGivenFood="ngModel" minlength="0" required>

							<div *ngIf="actualGivenFood.invalid && (actualGivenFood.dirty && actualGivenFood.touched)" class="text-danger">
								<div *ngIf="actualGivenFood.errors.required">
									{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name: 'FARM.ACTUAL_GIVEN_FOOD' | translate } }}
								</div>
								<!--<div *ngIf="actualGivenFood.errors.minlength">
									{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name: 'FARM.ACTUAL_GIVEN_FOOD' | translate, min: 0 } }}
								</div>-->
							</div>
						</td>
						<td>{{school.food.name}}</td>
						<td>
							<input matInput type="number" #dead="ngModel" name="dead{{i}}" autocomplete="off"
								   [(ngModel)]="school.dead" minlength="0" required>
							<div *ngIf="dead.invalid && (dead.dirty && dead.touched)" class="text-danger">
								<div *ngIf="dead.errors.required">
									{{ 'VALIDATION.REQUIRED_FIELD' | translate: { name: 'FARM.MORTALITY' | translate } }}
								</div>
								<!--<div *ngIf="dead.errors.minlength">
									{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate: { name: 'FARM.MORTALITY' | translate, min: 0 } }}
								</div>-->
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-primary" (click)="update()" [disabled]="! f.form.valid">
				{{'AUTH.GENERAL.SUBMIT_BUTTON' | translate}}
			</button>
		</div>
	</form>
</div>
