<div class="m-section">
	<div class="header">
		<h4>{{'FOOD.TABLE.TITAL' | translate}}</h4>
	</div>
	<div class="example-container mat-elevation-z8">
		<mat-form-field>
			<input matInput type="text" (keyup)="applyFilter($event.target.value)"
				   placeholder="{{'ACTIONS.SEARCH' | translate}}">
		</mat-form-field>
		<table class="table table-bordered table-striped table-hover table-light table-responsive" mat-table matSort
			   matSortActive="name" matSortDirection="asc" #table matSortDisableClear [dataSource]="dataSource">

			<!-- name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'name' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[0] }}</th>
				<td mat-cell *matCellDef="let row"> {{row.name}}</td>
			</ng-container>

			<!-- actualGivenFood Column -->
			<ng-container matColumnDef="actualGivenFood">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'actualGivenFood' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[1] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFishSchoolReadWrite('actualGivenFood'); else display">
						<input matInput type="number" [value]="row.actualGivenFood" [(ngModel)]="row.actualGivenFood" required>
					</mat-form-field>
					<ng-template #display>{{row.actualGivenFood | number:'1.2-2'}}</ng-template>
				</td>
			</ng-container>

			<!-- food Column -->
			<ng-container matColumnDef="food">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'food' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[2] }}</th>
				<td mat-cell *matCellDef="let row"> {{row.food.name}}</td>
			</ng-container>

			<!-- dead Column -->
			<ng-container matColumnDef="dead">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'dead' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[3] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFishSchoolReadWrite('dead'); else display">
						<input matInput type="number" [value]="row.dead" [(ngModel)]="row.dead" required >
					</mat-form-field>
					<ng-template #display>{{row.dead | number:'1.2-2'}}</ng-template>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<span>
			<button class="btn btn-primary" (click)="update()" [disabled]="validate()">{{ 'ACTIONS.UPDATE' | translate }}</button>
		</span>
	</div>
</div>
