<div class="m-section">
	<mat-card *ngIf="isFishSchoolTableLoading" style="display: flex; justify-content: center; align-items: center">
		<mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
	</mat-card>
	<div [hidden]="model.schoolName.name === '' || isFishSchoolTableLoading || ! havingFishSchoolRecords">
		<h5>{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}: {{ model.schoolName.name }}</h5>
	</div>
	<div class="example-container mat-elevation-z8" [hidden]="isFishSchoolTableLoading || ! havingFishSchoolRecords">
		<mat-form-field>
			<input matInput type="text" (keyup)="applyFilter($event.target.value)"
				   placeholder="{{'ACTIONS.SEARCH' | translate}}">
		</mat-form-field>
		<table class="table table-bordered table-striped table-hover table-light table-responsive" mat-table matSort
			   matSortActive="menualAvgWeight" matSortDirection="desc" #table matSortDisableClear [dataSource]="dataSource">

			<!-- feedDate Column -->
			<ng-container matColumnDef="feedDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'feedDate' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[0] }}</th>
				<td mat-cell *matCellDef="let row" [style.background]="(model.feedDate.format('DD/MM/YYYY') === row.feedDate)? 'lightblue' : ''" class="date-width">
					{{row.feedDate}}
				</td>
			</ng-container>

			<!-- age Column -->
			<ng-container matColumnDef="age">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'age' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[1] }}</th>
				<td mat-cell *matCellDef="let row">
					{{row.age | number}}
				</td>
			</ng-container>

			<!-- menualAvgWeight Column -->
			<ng-container matColumnDef="menualAvgWeight">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'menualAvgWeight' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[2] }}</th>
				<td mat-cell *matCellDef="let row"
					[style.background]="row.menualAvgWeight === true? 'lightgreen': ''"
					class="vertical-align-middle">
					<i class="material-icons" *ngIf="row.menualAvgWeight === true">
						done
					</i>
				</td>
			</ng-container>

			<!-- averageWeight Column -->
			<ng-container matColumnDef="averageWeight">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'averageWeight' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[3] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFishSchoolReadWrite('UPDATE', 'averageWeight') && row.id; else display">
						<input matInput type="number" [value]="row.averageWeight" [(ngModel)]="row.averageWeight"
							   required step=".01" min="0" class="input-number-format">
						<label class="label-number-format">{{row.averageWeight | number}}</label>
					</mat-form-field>
					<ng-template #display>{{row.averageWeight | number}}</ng-template>
				</td>
			</ng-container>

			<!-- quantity Column -->
			<ng-container matColumnDef="quantity">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'quantity' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[4] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFishSchoolReadWrite('UPDATE', 'quantity') && row.id; else display">
						<input matInput type="number" [value]="row.quantity" [(ngModel)]="row.quantity" required
							   step=".01" min="0" class="input-number-format">
						<label class="label-number-format">{{row.quantity | number}}</label>
					</mat-form-field>
					<ng-template #display>{{row.quantity | number}}</ng-template>
				</td>
			</ng-container>

			<!-- totalWeight Column -->
			<ng-container matColumnDef="totalWeight">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'totalWeight' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[5] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFishSchoolReadWrite('UPDATE', 'totalWeight') && row.id; else display">
						<input matInput type="number" [value]="row.totalWeight" [(ngModel)]="row.totalWeight" required
							   step=".01" min="0" class="input-number-format">
						<label class="label-number-format">{{row.totalWeight | number}}</label>
					</mat-form-field>
					<ng-template #display>{{row.totalWeight | number}}</ng-template>
				</td>
			</ng-container>

			<!-- totalGivenFood Column -->
			<ng-container matColumnDef="totalGivenFood">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'totalGivenFood' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[6] }}</th>
				<td mat-cell *matCellDef="let row"> {{row.totalGivenFood | number}}</td>
			</ng-container>

			<!-- actualGivenFood Column -->
			<ng-container matColumnDef="actualGivenFood">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'actualGivenFood' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[7] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFishSchoolReadWrite('UPDATE', 'actualGivenFood') && row.id; else display">
						<input matInput type="number" [value]="row.actualGivenFood" [(ngModel)]="row.actualGivenFood"
							   required step=".01" min="0" class="input-number-format">
						<label class="label-number-format">{{row.actualGivenFood | number}}</label>
					</mat-form-field>
					<ng-template #display>{{row.actualGivenFood | number}}</ng-template>
				</td>
			</ng-container>

			<!-- foodWeight Column -->
			<ng-container matColumnDef="foodWeight">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'foodWeight' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[8] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFishSchoolReadWrite('UPDATE', 'foodWeight') && row.id; else display">
						<input matInput type="number" [value]="row.foodWeight" [(ngModel)]="row.foodWeight" required
							   step=".01" min="0" class="input-number-format">
						<label class="label-number-format">{{row.foodWeight | number}}</label>
					</mat-form-field>
					<ng-template #display>{{row.foodWeight | number}}</ng-template>
				</td>
			</ng-container>

			<!-- food.name Column -->
			<ng-container matColumnDef="food">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'food' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[9] }}</th>
				<td mat-cell *matCellDef="let row">
						<div style="width: 300px" class="mat-form-field" *ngIf="isFoodReadWrite('UPDATE', 'name') && row.id; else display">
							<!-- https://github.com/ng-select/ng-select -->
							<label class="mat-form-field-label">{{'FISH_SCHOOL.FILTERS.SCHOOL_NAME' | translate}}</label>
							<ng-select matInput class="custom"
									   [items]="foods"
									   bindLabel="name"
									   notFoundText="{{'FOOD.FILTERS.FOOD_NAME_NOT_FOUND' | translate}}"
									   [required]="true"
									   #food="ngModel"
									   name="food"
									   [multiple]="false"
									   maxSelectedItems="1"
									   [virtualScroll]="true"
									   [(ngModel)]="row.food">
							</ng-select>
						</div>
					<!--</mat-form-field>-->
					<ng-template #display>{{row.food.name}}</ng-template>
				</td>
			</ng-container>

			<!-- dead Column -->
			<ng-container matColumnDef="dead">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'dead' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[10] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFishSchoolReadWrite('UPDATE', 'dead') && row.id; else display">
						<input matInput type="number" [value]="row.dead" [(ngModel)]="row.dead" required step=".01"
							   min="0" class="input-number-format">
						<label class="label-number-format">{{row.dead | number}}</label>
					</mat-form-field>
					<ng-template #display>{{row.dead | number}}</ng-template>
				</td>
			</ng-container>

			<!-- averageWeight Column -->
			<ng-container matColumnDef="fcr">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'fcr' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[11] }}</th>
				<td mat-cell *matCellDef="let row"> {{row.fcr | number}}</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<span>
			<button class="btn btn-primary" (click)="update()" [disabled]="validate() && ! isFishSchoolTableLoading">{{ 'ACTIONS.UPDATE' | translate }}</button>
		</span>
	</div>
</div>
