@charset "UTF-8";

.mat-row:hover {
	background-color: #e6e6ff;
}

::ng-deep {
	.mat-form-field-underline {
		display: none;
	}

	.vertical-align-middle {
		text-align: center;
		vertical-align: middle;
	}

	.top-align {
		padding-top: 15px;
	}

	.sold-fs {
		width: 60px;
	}

	td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
		padding-left: 3px;
	}

	td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell {
		padding-left: 3px;
	}

	.table.table-striped thead th {
		/* row padding */
		padding: 4px 0 4px 0;
		/* row border */
		border: 1px solid #000000;
		border-top: 1px solid #000000;
	}

	td.mat-cell {
		/* row padding */
		padding: 4px 0 4px 0;
		/* row border */
		border: 1px solid #000000;
		border-top: 1px solid #000000;
	}

	td.mat-cell:first-child {
		/* row border */
		border-left: 1px solid #000000;
	}

	td.mat-cell:last-child {
		/* row border */
		border-right: 1px solid #000000;
	}

	table {
		/* row spacing / margin */
		border-spacing: 0 4px !important;
	}

	td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
		padding-left: 4px !important;
		padding-right: 4px !important;
	}

	.mat-form-field-infix {
		width: min-content;
	}

	.food-type-select {
		width: 110px !important;
		margin: 5px;
	}

	.mat-form-field {
		display: block;
	}

	// Remove number arrows
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input.editable {
		box-sizing: border-box;
		border: 0px solid #ccc;
		background-image: url(../../../../../../../assets/app/media/img/logos/gold-fish-logo.png);
		background-position: right top;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
