@charset "utf-8";


.mat-row:hover {
	background-color: #e6e6ff;
}

tr, td {
	border: 1px solid #000000;
	border-top: 1px solid #000000;
}

.table.table-striped thead th {
	border: 1px solid #000000;
	border-top: 1px solid #000000;
}

td.mat-cell {
	border: 1px solid #000000;
	border-top: 1px solid #000000;
}

td.mat-cell:first-child {
	border-left: 1px solid #000000;
}

td.mat-cell:last-child {
	border-right: 1px solid #000000;
}

table {
	border-spacing: 0 4px !important;
}

.mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type, .mat-cell, .mat-footer-cell, .mat-header-cell {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.mat-form-field-infix {
	width: max-content !important;
}

/* Cells display shorten */
.mat-form-field {
	width: 70px;
}

// Remove number arrows
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*.editable {
	position: absolute;
	top: 50%;
	right: -5px;
	margin-top: -10px;
	width: 5px;
	height: 5px;
}*/

::ng-deep {
	.mat-form-field-underline {
		display: none;
	}
}
