<div class="m-section">
	<div class="example-container mat-elevation-z8">
		<mat-form-field>
			<input matInput type="text" #searchFood (keyup)="applyFilter($event.target.value)"
				   placeholder="{{'ACTIONS.SEARCH' | translate}}">
		</mat-form-field>
		<table class="table table-bordered table-striped table-hover table-light table-responsive" mat-table matSort
			   multiTemplateDataRows matSortActive="name" matSortDirection="asc" #table matSortDisableClear [dataSource]="dataSource">

			<!-- actions column -->
			<ng-container matColumnDef="actionsColumn">
				<mat-header-cell *matHeaderCellDef>
					<button mat-icon-button color="accent" (click)="addNew()"><i class="fs flaticon-add mat-icon"></i></button>
				</mat-header-cell>
				<mat-cell *matCellDef="let row">

					<button mat-icon-button color="primary" focusable="false" (click)="delete(row)">
						<i class="fa flaticon-delete mat-icon mat-icon"></i>
					</button>
				</mat-cell>
				<td mat-footer-cell *matFooterCellDef="let row"></td>
			</ng-container>

			<!-- name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'name' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[0] }}</th>
				<td mat-cell *matCellDef="let row; let n = row">
					<mat-form-field floatLabel="never" *ngIf="n === undefined && isFoodReadWrite('UPDATE', 'name'); else display">
						<input matInput type="text" [value]="row.name" [(ngModel)]="row.name" required>
					</mat-form-field>
					<ng-template #display>{{row.name}}</ng-template>
				</td>
			</ng-container>

			<!-- quantity Column -->
			<ng-container matColumnDef="quantity">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'quantity' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[1] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFoodReadWrite('UPDATE', 'quantity'); else display">
						<input matInput type="number" [value]="row.quantity" [(ngModel)]="row.quantity" required>
					</mat-form-field>
					<ng-template #display>{{row.quantity | number:'1.2-2'}}</ng-template>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<span><button class="btn btn-primary" (click)="update()" [disabled]="validate()">{{ 'ACTIONS.UPDATE' | translate }}</button></span>
	</div>
</div>
