<div class="m-section">
	<div class="example-container mat-elevation-z8">
		<mat-form-field>
			<input matInput type="text" (keyup)="applyFilter($event.target.value)"
				   placeholder="{{'ACTIONS.SEARCH' | translate}}">
		</mat-form-field>
		<table class="table table-bordered table-striped table-hover table-light table-responsive" mat-table matSort
			   matSortActive="name" matSortDirection="asc" #table matSortDisableClear [dataSource]="dataSource">

			<!-- name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'name' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[0] }}</th>
				<td mat-cell *matCellDef="let row; let n = row">
					<mat-form-field floatLabel="never" *ngIf="n === undefined && isFoodReadWrite('UPDATE', 'name'); else display">
						<input matInput type="text" [value]="row.name" [(ngModel)]="row.name" required>
					</mat-form-field>
					<ng-template #display>{{row.name}}</ng-template>
				</td>
			</ng-container>

			<!-- quantity Column -->
			<ng-container matColumnDef="quantity">
				<th mat-header-cell *matHeaderCellDef mat-sort-header
					[ngStyle]="sort.active == 'quantity' ? {background: 'rgba(0, 0, 0, 0.24)', color: 'white'} : {background: 'white', color: 'black'}">
					{{ headers[1] }}</th>
				<td mat-cell *matCellDef="let row">
					<mat-form-field floatLabel="never" *ngIf="isFoodReadWrite('UPDATE', 'quantity'); else display">
						<input matInput type="number" [value]="row.quantity" [(ngModel)]="row.quantity" required
							   step=".01" min="0" class="input-number-format">
						<label class="label-number-format">{{row.quantity | number}}</label>
					</mat-form-field>
					<ng-template #display>{{row.quantity | number}}</ng-template>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<span><button class="btn btn-primary" (click)="update()" [disabled]="validate()">{{ 'ACTIONS.UPDATE' | translate }}</button></span>
		<span>&nbsp;</span>
		<span><button class="btn btn-primary" (click)="addNew()">{{ 'ACTIONS.ADD' | translate }}</button></span>
	</div>
</div>
